# Ignore node_modules folders
backend/node_modules/
Frontend/node_modules/

# Ignore environment variable files
backend/.env
frontend/.env

# Ignore any .DS_Store files (for macOS users)
.DS_Store

# Logs
logs/
*.log


